<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- retrofit 통신을 위해 internet permission 추가 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.any" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.JJ_Club"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity

            android:name=".activities.MBTI.MbtiTestQ12Activity"
            android:exported="false" />
        <activity
            android:name=".activities.MBTI.MbtiTestQ11Activity"
            android:exported="false" />
        <activity
            android:name=".activities.MBTI.MbtiTestQ10Activity"
            android:exported="false" />
        <activity
            android:name=".activities.MBTI.MbtiTestQ9Activity"
            android:exported="false" />
        <activity
            android:name=".activities.MBTI.MbtiTestQ8Activity"
            android:exported="false" />
        <activity
            android:name=".activities.MBTI.MbtiTestQ7Activity"
            android:exported="false" />
        <activity
            android:name=".activities.MBTI.MbtiTestQ6Activity"
            android:exported="false" />
        <activity
            android:name=".activities.MBTI.MbtiTestQ5Activity"
            android:exported="false" />
        <activity
            android:name=".activities.MBTI.MbtiTestQ4Activity"
            android:exported="false" />
        <activity
            android:name=".activities.MBTI.MbtiTestQ3Activity"
            android:exported="false" />
        <activity
            android:name=".activities.MBTI.MbtiTestQ2Activity"
            android:exported="false" />
        <activity
            android:name=".activities.MBTI.MbtiTestQ1Activity"
            android:exported="false" />
        <activity
            android:name=".activities.MBTI.entp"
            android:exported="false" />
       
        <activity
            android:name=".activities.MBTI.MbtiTestStart"
            android:exported="true">
            
        </activity>

</manifest>