<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <!-- retrofit 통신을 위해 internet permission 추가 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--
   1카메라 권한 허용과 2앱에 대한 명세
   -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.any" />


    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.JJ_Club"
        tools:targetApi="31">
        <activity
            android:name=".activities.mainpage.FilterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.mainpage.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Profile.ProfileRecivedapplicationformActivity2"
            android:exported="false" />
        <activity
            android:name=".activities.Profile.ProfileSendapplicationformActivity2"
            android:exported="false" />
        <activity
            android:name=".activities.Profile.ProfileRecivedapplicationformActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Profile.ProfileSendapplicationformActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Profile.ProfileWirtepostActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Profile.ProfileLoveitActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Profile.ProfileAlarmActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Profile.ProfileEditActivity"
            android:exported="false" />
        <activity
            android:name=".activities.mainpage.PopularPostsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.register.SignUpActivity"
            android:exported="false" />

        <activity
            android:name=".activities.register.SplashActivity"
            android:exported="false" />

        <activity
            android:name=".activities.register.MainActivity"
            android:exported="true" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

        <activity
            android:name=".activities.mainpage.MainPageActivity"
            android:exported="true" />





        <activity
            android:name=".activities.register.EmailVerificationActivity"
            android:exported="false"/>


    </application>

</manifest>